.not-found {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 246px 0 60px 0;
  color: #FFF;
  font-size: 140px;
}

.not-found_title {
  margin: 0 0 5px;
  padding: 0;
  max-width: 400px;
  text-align: center;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}


.not-found_subtitle {
  max-width: 400px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  
}

.not-found__back-button {
  margin-top: 184px;
  text-decoration: none;
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding: 408px 0 60px 0;
  }
}


@media screen and (max-width: 480px) {
  .not-found_title {
    margin: 0 0 5px;
    font-size: 110px;
    line-height: 130px;
  }
}

@media screen and (max-width: 320px) {
  .not-found {
    padding: 329px 0 30px 0;
  }

  .not-found_title {
    margin: 0 0 9px;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found_subtitle {
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }

  .not-found__back-button {
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}