.footer {
  max-width: 100%;
  background-color: #202020;
}

.footer__container {
  display: flex;
  padding: 159px 70px 20px;
  flex-direction: column;
  text-align: center;

}

.footer__copyright {
  color: #FFFFFF;
}

.footer__title {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 13px;
  line-height: 15,73px;
  position: relative;
}

.footer__line {
  width: 100%;
  margin-top: 20.5px;
  content: ' ';
  display: block;
  border-bottom: 1px solid #424242;
  /* opacity: 0.7; */
}

.footer__links {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link {
  color: #FFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}

.footer__link:first-of-type {
  margin-right: 20px;
}

.footer__link:hover {
  opacity: 0.85;
  transition: all .25s ease-in-out;
  transform: scale(97%);
  filter: drop-shadow(3px 3px 10px #FFF);
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 69px 30px 20px;
  }

  .footer__contacts {
    justify-content: space-between;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__container {
    align-items: center;
    padding: 0 10px 20px;
  }

  .footer__title {
    width: 300px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__contacts {
    max-width: 120px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    row-gap: 12px;
  }

  .footer__contacts {
    padding: 0 10px 0;
    margin-top: 30px;
  }

  .footer__link {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link:first-of-type {
    margin-right: 0px;
  }

  .footer__copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
    ;
  }
}